@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
/* Style The Dropdown Button */
.dropbtn {
  text-align: center;
  background-color: #52796F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  text-align: center;
  margin-top: 20px;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdfcfc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f3f0f0}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #354F52;
}

.boardgamediv{
  display: none;
  text-align: center;
  margin-top: 10px;
}

.restaurantdiv{
  display: none;
  text-align: center;
  margin-top: 10px;
}

.outfitdiv{
    display: none;
    text-align: center;
    margin-top: 10px;
}

.boardgameoption{
  display: none;
  text-align: center;
  margin-top: 10px;
}

.restaurantoption{
  display: none;
  text-align: center;
  margin-top: 10px;
}

.outfitoption{
    display: none;
    text-align: center;
    margin-top: 10px;
}
#tops{
  position:absolute;
  width: 550px;
  height: 750px;
}
.top1{
  position:absolute;
  position:absolute;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  background-image:url(../images/IMG2104.jpg);
  position:absolute;

}
.top2{
  position:absolute;

}
/* .top3{
  position:absolute;

}
.top4{
  position:absolute;

} */
#pants{
  position:absolute;
  width: 550px;
  height: 750px;
}
.pant1{
  position:absolute;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  background-image:url(../images/IMG2105.jpg);
  position:absolute;

}
.pant2{
  position:absolute;

}
/* .pant3{
  position:absolute;

}
.pant4{
  position:absolute;

} */
#shoes{
  position:absolute;
  width: 550px;
  height: 750px;
}
.shoe1{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  background-image:url(../images/shoe1.png);
  position:absolute;

}
.shoe2{
  position:absolute;

}
/* .shoe3{
  position:absolute;

}
.shoe4{
  position:absolute;

}
#snoopy{
  position:absolute;
} */


.topnav {
  overflow: hidden;
  background-color: #EBD8D0;
  padding: 1em;
  text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.topnav a:hover {
    background-color: #D3AB9E;
    color: black;
}

.topnav a:active {
    background-color: #D3AB9E;
    color: black;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 17px;
  }

.btn {
  margin-top: 10px;
  padding: 5px;
}

.p{
  text-align: center;
  margin-top: 10px;
}

#choose-error, #add-error {
  text-align: center;
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
  display: none;
}

#wingspan {
  text-align: center;
  display: none;
}

#olive-garden {
  text-align: center;
  display: none;
}
